////
/// SHADY v0.1.0
/// MIT-License © 2016
/// @group Config
/// @author Felix Spöttel
////

@import "./shady/_functions";
@import "./shady/_mixins";

/// Color used in the default presets
/// @property {String}
$shady-preset-color: #000f14;

@import "./shady/_presets";

/// Available presets
/// @property {Map}

$shady-presets:
  (
    "bottom": $shady-preset-bottom,
    "bottomTop": $shady-preset-bottomTop,
    "full": $shady-preset-full,
    "top": $shady-preset-top,
  );

/// Default preset
/// @property {String}
$shady-default-preset: "bottom";

/// Shady can expose each preset as a class
/// By default, the class will be named: .shady--{preset}
/// @property {Boolean}
$shady-expose: false;

// Expose classes.
@if ($shady-expose == true) {
  @include shady-expose;
}
