////
/// SHADY MIXINS
/// MIT-License © 2016
/// @group Mixins
/// @author Felix Spöttel
////

/// Apply a vignette
/// @param {String} $preset ["default"] - Apply a preset from $shady-presets or "custom"
/// @output Outputs a specific vignette inside a selector

@mixin shady($preset: $shady-default-preset) {
  position: relative;

  &::before {
    @if ($preset == "custom") {
      @content;
    }

    @else {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: shady-get-preset($preset);
      content: "";
      pointer-events: none;
    }
  }
}

/// Expose all presets as classes
/// @param {String} $prefix [".shady--"] - Prefix for classes
/// @output Outputs classes for each preset

@mixin shady-expose($prefix: ".shady--") {
  @each $preset in $shady-presets {
    $key: nth($preset, 1);

    #{$prefix}#{$key} {
      @include shady($key);
    }
  }
}
