////
/// SHADY PRESETS
/// MIT-License © 2016
/// @group Presets
/// @author Felix Spöttel
////

$shady-preset-bottom:
  linear-gradient(
    to top,
    rgba($shady-preset-color, 0.6) 15%,
    rgba($shady-preset-color, 0.15) 52%,
    rgba($shady-preset-color, 0) 70%
  );

$shady-preset-top:
  linear-gradient(
    to bottom,
    rgba($shady-preset-color, 0.6) 15%,
    rgba($shady-preset-color, 0.15) 52%,
    rgba($shady-preset-color, 0) 70%
  );

$shady-preset-bottomTop:
  linear-gradient(
    to top,
    rgba($shady-preset-color, 0.6) 15%,
    rgba($shady-preset-color, 0.15) 40%,
    rgba($shady-preset-color, 0) 50%,
    rgba($shady-preset-color, 0.15) 60%,
    rgba($shady-preset-color, 0.6) 85%
  );

$shady-preset-full: rgba($shady-preset-color, 0.6);
